<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>demoNew1</display-name>
 
  
 <servlet>
		
		<servlet-name>Hello</servlet-name>
		<servlet-class>Hello</servlet-class>
		<init-param>
		<param-name>h1</param-name>
		<param-value>Hello Prakhar</param-value>
		</init-param>
	
	</servlet>
	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/Hello</url-pattern>
	</servlet-mapping>
	
	
</web-app>